
header{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

#insta{
  width: 40px;
}

#twitter{
  width: 40px;
}

#facebook {
  width: 40px;

}

#logof1{
  height: 50px;
  width: 80px;
}

#youtube{
  width: 40px;
}

#tiktok{
  width: 40px;
}

#ayrtonsenna{
width: 450px;
height: 320px;
}

#as {
  display: flex;
  text-align: justify;
  flex-direction: row;
  align-items: center;
}

#lewishamilton{
  width: 450px;
  height: 320px;
  }

#lw {
  display: flex;
  text-align: justify;
  flex-direction: row;
  align-items: center;
}

#michaelschumacher{
  width: 450px;
  height: 320px;
  }
  
#ms {
  display: flex;
  text-align: justify;
  flex-direction: row;
  align-items: center;
}

#ferrari {
  width: 450px;
  height: 320px;
}

#mercedes{
  width: 450px;
  height: 320px;
}

#redbullracing{
  width: 450px;
  height: 320px;
}


p {
  padding-left: 50px;
}
