
#redes {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#insta {
  width: 40px;

}

#twitter {
  width: 40px;

}

#facebook {
  width: 40px;

}

#logof1 {
  height: 50px;
  width: 80px;

}

#youtube {
  width: 40px;

}

#tiktok {
  width: 40px;

}