body { 
    font-family: 'Segoe UI', sans-serif;
    font-size: 20 px;
 }


header { 
    display: flex;
    justify-content: space-around; 
    align-items: center;
   } 


main { 
display: flex;
justify-content: space-around;
}

section { 
        width: 60%;
        box-sizing: border-box;
        padding: 20px;
    }

aside { width: 30%; box-sizing: border-box; padding: 20 px;}  

img { max-width: 100%;}